body {
  background-color: royalblue;
  margin: 0;
}
body main {
  border: 5px dashed red;
}
body main header .city {
  border: 2px dashed blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main header .city .mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main header .city .mainInfo img {
  max-height: 7rem;
}
body main header .city .mainInfo h2 {
  margin: 0;
}
body main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(229, 235, 240, 0.233);
}
body main #range {
  width: 40%;
  transform: scale(2);
  margin: 2rem 0;
  border: 2px dashed yellow;
}
body main .cube {
  padding: 2rem 0;
  margin-bottom: 2rem;
  border: 5px dashed rgb(248, 232, 1);
  text-align: center;
  width: 80%;
}
body main .cube h3, body main .cube h4 {
  margin: 0;
}
body main .cube .weatherMain .minMax {
  display: flex;
  justify-content: center;
}