*{
    box-sizing: border-box;
}
body{
    background-color: bisque;
}

aside p{
    position: static;
}
main{
    border: 5px dashed red;
    position: sticky;
}
article{
    border: 5px dashed blue;
    position: relative;
    width: 90vw;
    height: 90vw;
}
article p {
   background-color: aquamarine;
   transition: .5s;

}

article p, img{
    position: absolute;
    border: 5px dashed yellow;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

article p:active{
    opacity: 0;
}
footer p{
    position: fixed;
}

